@import "../../styles/helpers";

i {
  color: $text-color;
  cursor: pointer;
  margin-top: 0.5rem;
}

.widgetBlock {
  padding: 12px 0;
  background-color: $base-light-gray;
  border-radius: 8px;
}

.widgetBody {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.smallWidget {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.addWidget {
  margin:auto;
  height: auto;
  width: auto;
  display: inline-block;
  padding: 0%;
}

.addIcon i {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-left: 15px;
  display: inline-block;
}

.addButton {
  font-size: 15px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.responsiveWidget {
  @media (max-width: breakpoint-max(lg)) {
    padding: 24px 12px;
  }
}

.buttonOn {
  min-width: 45px;
  min-height: 45px;
  background: $green;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  position: relative;
}

.buttonOn i {
  position: relative;
  color: #fff;
  font-size: 23px;
}

.buttonOff {
  min-width: 45px;
  min-height: 45px;
  background: $orange-dark;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  position: relative;
}

.buttonOff i {
  position: relative;
  color: #fff;
  font-size: 23px;
}

.buttonSetting {
  padding: 0%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  height: 17px;
  width: 17px;
  z-index: 10;
}

.buttonSetting i {
  padding: 0%;
  margin: 0%;
  position: relative;
  color: $base-dark-gray;
  font-size: 17px;
  z-index: 10;
}

.buttonSetting i:hover{
  padding: 0%;
  margin: 0%;
  position: relative;
  color: $default;
  font-size: 17px;
  z-index: 10;
}

.icon {
  margin-right: 2px;
  margin-left: 2px;
  width: 41px;
  height: 41px;
  image-rendering: -webkit-optimize-contrast;
}